  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><a href="/users/45085">
            <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" /><br>
            Yasuda
</a>          </td>
          <td><a href="/books/36805">aaa</a></td>
          <td>fgarega</td>
            <td><a class="btn btn-sm btn-success edit_book_36805" href="/books/36805/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_36805" rel="nofollow" data-method="delete" href="/books/36805">Destroy</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
      </main>
    <footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>

  </body>
</html>
